<ion-card>
  <ion-card-header>
    <ion-card-title>
      {{ 'QUIZ.QUESTION_NUMBER' | translate }}
      {{ currentIndex + 1 }} / {{ quizElements.length + 1 }}
      <app-timer></app-timer>
    </ion-card-title>
  </ion-card-header>

  @if (currentQuestion) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ currentQuestion.questions }}</ion-card-title>
      <ion-button size="small" shape="round" id="bottom-start">
        <ion-icon slot="icon-only" ios="help" md="help"></ion-icon>
      </ion-button>

      <ion-popover trigger="bottom-start" side="bottom" alignment="start">
        <ng-template>
          <ion-content class="ion-padding">{{
            'QUIZ.HINT' | translate
          }}</ion-content>
        </ng-template>
      </ion-popover>
    </ion-card-header>

    <ion-card-content>
      <img
        [src]="currentQuestion.url + '.png'"
        [alt]="'imagem da letra ' + currentQuestion.title"
      />

      <ion-radio-group [(ngModel)]="selectedAnswer">
        <ion-grid>
          @for (a of currentQuestion.possibleAnswers; track a) {
          <ion-row>
            <ion-radio [value]="a" labelPlacement="end">
              {{ a.answer }}
            </ion-radio>
          </ion-row>
          }
        </ion-grid>
      </ion-radio-group>

      <ion-button
        expand="block"
        [disabled]="!selectedAnswer"
        (click)="nextQuestion()"
      >
        {{ 'QUIZ.NEXT' | translate }}
      </ion-button>
    </ion-card-content>
  </ion-card>
  }@else {
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'QUIZ.RESULT_TITLE' | translate }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ 'QUIZ.YOUR_SCORE' | translate }}: {{ score }}</p>
      <ion-button expand="block" (click)="restartQuiz()">
        {{ 'QUIZ.RESTART' | translate }}
      </ion-button>
    </ion-card-content>
  </ion-card>
  }
</ion-card>
