// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --ion-background-color: #ffffff;
  --ion-color-custom: #539c3d;
  --side-min-width: 250px;
}
