<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-select
          placeholder="Idioma"
          (ionChange)="changeLang($event.detail.value)"
        >
          <ion-select-option value="pt-br">Português</ion-select-option>
          <ion-select-option value="en">English</ion-select-option>
          <ion-select-option value="es">Español</ion-select-option>
          <ion-select-option value="it">Italiano</ion-select-option>
          <ion-select-option value="ja">日本語</ion-select-option>
          <ion-select-option value="de">Deutsch</ion-select-option>
        </ion-select>
        <ion-list id="inbox-list">
          <ion-list-header>Blind Quiz</ion-list-header>
          @for (p of appPages; track p; let i = $index) {
          <ion-menu-toggle auto-hide="false">
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                aria-hidden="true"
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          }
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
      @for (p of appPages; track p; let i = $index) {
      <ion-tab-button
        [tab]="p.tab"
        [routerLink]="[p.url]"
        routerLinkActive="active"
      >
        <ion-icon [name]="p.icon"></ion-icon>
        {{ p.title }}
      </ion-tab-button>
      }
    </ion-tab-bar>
  </ion-tabs> -->

  <nav class="floating-tabs">
    <span
      class="indicator"
      [style.transform]="'translateX(' + activeIndex * 80 + 'px)'"
    ></span>
    @for (p of appPages; track p; let i = $index) {
    <button
      [routerLink]="p.url"
      routerLinkActive="active"
      (click)="setActive(i)"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <ion-icon [name]="p.icon"></ion-icon>
      <span>{{ p.title }}</span>
    </button>
    }
  </nav>
</ion-app>
